<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bank Administration</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>
                    <a asp-controller="Home"
                       asp-action="Index">
                        Bank Administration
                    </a>
                </h1>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>