<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/js/script.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/validation.css" rel="stylesheet" />
    <link href="~/css/customers.css" rel="stylesheet" />
    <link href="~/css/accounts.css" rel="stylesheet" />
    <link href="~/css/transactions.css" rel="stylesheet" />
    <link href="~/css/pagination.css" rel="stylesheet" />
    <link href="~/css/search.css" rel="stylesheet" />
    <link href="~/css/users.css" rel="stylesheet" />
</head>
<body>
    <header id="header">
        <div class="container">
            <div id="branding">
                <h1>
                    <a asp-controller="Home" asp-action="Index">Bank Administration</a>
                </h1>
            </div>
            <partial name="_LoginPartial" />
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>&copy; Bank Administration @DateTime.Now.Year</p>
    </footer>
</body>
</html>