@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Cashier"))
    {
        <nav id="navbar">
            <ul>
                <li><a asp-controller="Customers" asp-action="Index">Customers</a></li>
                <li><a asp-controller="Users" asp-action="Logout">Sign out</a></li>
            </ul>
        </nav>
    }

    if (User.IsInRole("Admin"))
    {
        <nav id="navbar">
            <ul>
                <li><a asp-controller="Users" asp-action="Index">Users</a></li>
                <li><a asp-controller="Customers" asp-action="Index">Customers</a></li>
                <li><a asp-controller="Users" asp-action="Logout">Sign out</a></li>
            </ul>
        </nav>
    }
}
else
{
    <nav id="navbar">
        <ul>
            <li><a asp-controller="Users" asp-action="Login">Sign in</a></li>
        </ul>
    </nav>
}
