@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_SearchFormPartial" />

    if (User.IsInRole("Cashier"))
    {
        <nav id="navbar">
            <ul>
                <li>
                    <a class="disable">@UserManager.GetUserAsync(User).Result.Email</a>
                </li>
                <li><a asp-controller="Customer" asp-action="Index">Customers</a></li>
                <li><a asp-controller="User" asp-action="Logout">Sign out</a></li>
            </ul>
        </nav>
    }

    if (User.IsInRole("Admin"))
    {
        <nav id="navbar">
            <ul>
                <li>
                    <a class="disable">@UserManager.GetUserAsync(User).Result.Email</a>
                </li>
                <li><a asp-controller="User" asp-action="Index">Users</a></li>
                <li><a asp-controller="Customer" asp-action="Index">Customers</a></li>
                <li><a asp-controller="User" asp-action="Logout">Sign out</a></li>
            </ul>
        </nav>
    }
}
else
{
    <partial name="_SearchFormPartial" />

    <nav id="navbar">
        <ul>
            <li><a asp-controller="User" asp-action="Login">Sign in</a></li>
        </ul>
    </nav>
}
