@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    if (User.IsInRole("Cashier"))
    {
        <partial name="_SearchFormPartial" />
        <nav id="navbar">
            <ul>
                <li><a asp-controller="Customer" asp-action="Index">Customers</a></li>
                <li><a asp-controller="User" asp-action="Logout">Sign out</a></li>
            </ul>
        </nav>
    }

    if (User.IsInRole("Admin"))
    {
        <partial name="_SearchFormPartial" />
        <nav id="navbar">
            <ul>
                <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                <li><a asp-controller="Customer" asp-action="Index">Customers</a></li>
                <li><a asp-controller="User" asp-action="Logout">Sign out</a></li>
            </ul>
        </nav>
    }
}
else
{
    <partial name="_SearchFormPartial" />
    <nav id="navbar">
        <ul>
            <li><a asp-controller="User" asp-action="Login">Sign in</a></li>
        </ul>
    </nav>
}
