@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_SearchFormPartial" />

    <div id="user-wrapper">
        <a>@UserManager.GetUserAsync(User).Result.Email</a>
    </div>

    if (User.IsInRole("Cashier"))
    {
        <nav id="navbar">
            <ul>
                <li><a asp-controller="Customers" asp-action="Index">Customers</a></li>
                <li><a asp-controller="Users" asp-action="Logout">Sign out</a></li>
            </ul>
        </nav>
    }

    if (User.IsInRole("Admin"))
    {
        <nav id="navbar">
            <ul>
                <li><a asp-controller="Users" asp-action="Index">Users</a></li>
                <li><a asp-controller="Customers" asp-action="Index">Customers</a></li>
                <li><a asp-controller="Users" asp-action="Logout">Sign out</a></li>
            </ul>
        </nav>
    }
}
else
{
    <partial name="_SearchFormPartial" />

    <div class="push"></div>

    <nav id="navbar">
        <ul>
            <li><a asp-controller="Users" asp-action="Login">Sign in</a></li>
        </ul>
    </nav>
}
