@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string GetUserId()
    {
        return UserManager.GetUserAsync(User).Result.Id;
    }
}


@if (SignInManager.IsSignedIn(User))
{
    <nav id="navbar">
        <ul>
            <li>
                <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@GetUserId()"><img src="~/img/user.svg" /></a>
            </li>

            @if (User.IsInRole("Cashier"))
            {
                <li><a asp-controller="Customers" asp-action="Index">Customers</a></li>
                <li><a asp-controller="Users" asp-action="Logout">Sign out</a></li>
            }

            @if (User.IsInRole("Admin"))
            {
                <li><a asp-controller="Users" asp-action="Index">Users</a></li>
                <li><a asp-controller="Customers" asp-action="Index">Customers</a></li>
                <li><a asp-controller="Users" asp-action="Logout">Sign out</a></li>
            }
        </ul>
    </nav>
}
else
{
    <nav id="navbar">
        <ul>
            <li><a asp-controller="Users" asp-action="Login">Sign in</a></li>
        </ul>
    </nav>
}
