@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string GetUserId()
    {
        return UserManager.GetUserAsync(User).Result.Id;
    }
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Bank Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : string.Empty)">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "UserProfile" ? "active" : string.Empty)">
                        <a class="nav-link" asp-controller="Users"
                           asp-action="UserProfile"
                           asp-route-id="@GetUserId()">Profile
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (User.IsInRole("Cashier"))
                            {
                                <a asp-controller="Customers" asp-action="Index" class="dropdown-item">Customers</a>
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Users" asp-action="Index" class="dropdown-item">Users</a>
                                <a asp-controller="Customers" asp-action="Index" class="dropdown-item">Customers</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Users" asp-action="Logout" class="nav-link">Sign out</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="Users" asp-action="Login" class="nav-link">Sign in</a>
                    </li>
                }
            </ul>
            <form asp-controller="Customers" asp-action="SearchCustomerProfile" method="get" class="form-inline my-2 my-lg-0">
                <input name="SearchString" class="form-control mr-sm-2" type="search" placeholder="Search customer by ID" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>