<div id="search-form">
    <form asp-controller="Customer" asp-action="Search" method="get">
        <input type="text" placeholder="Search customer by number" id="input" name="SearchString" min="1" max="15" />
    </form>
</div>