<div id="search-form">
    <form asp-controller="Customer" asp-action="SearchCustomerProfile" method="get" autocomplete="off" >
        <input type="text" placeholder="Search customer by ID" id="input" name="SearchString" min="1" max="15" />
    </form>
</div>