@model BankStatisticsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="showcase">
    <div class="container">
        <div class="wrapper">
            <h1>Statistics</h1>
            <div class="stat-group">
                <h3>@Model.TotalCustomersAmount <span class="paragraph">total customers</span></h3>
            </div>
            <div class="stat-group">
                <h3>@Model.TotalAccountsAmount <span class="paragraph">total accounts</span></h3>
            </div>
            <div class="stat-group">
                <h3>@Model.TotalBalanceAmount.ToString("C2") <span class="paragraph">total balance</span></h3>
            </div>
        </div>
    </div>
</section>

<section id="boxes">
    <div class="container">
        <div class="box">
            <img src="~/img/cogs.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
        <div class="box">
            <img src="~/img/users.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
        <div class="box">
            <img src="~/img/rocket.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
    </div>
</section>>