@model BankStatisticsViewModel

@{
    ViewData["Title"] = "Bank Application - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search">
    <div class="container">
        <partial name="_SearchFormPartial" />
    </div>
</div>

<section id="statistics">
    <div class="container">
        <div class="statistics-header">
            <h1>Overview</h1>
        </div>
        <div class="wrapper">
            <div class="statistics-group">
                <p>Customers: <span>@Model.TotalCustomers</span></p>
            </div>

            <div class="statistics-group">
                <p>Accounts: <span>@Model.TotalAccounts</span></p>
            </div>

            <div class="statistics-group">
                <p>Balance: <span>@Model.DisplayTotalBalance</span></p>
            </div>
        </div>
    </div>
</section>

<partial name="_CountryStatisticsPartial" for="@Model.CountryStatisticsViewModel" />

<section id="boxes">
    <div class="container">
        <div class="box">
            <img src="~/img/cogs.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
        <div class="box">
            <img src="~/img/users.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
        <div class="box">
            <img src="~/img/rocket.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
    </div>
</section>