@model BankStatisticsViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="showcase">
    <div class="container">
        <div class="showcase-header">
            <h1>Statistics</h1>
        </div>
        <div class="showcase-group">
            <span>Total customers: </span>
            <h3>@Model.TotalCustomersAmount</h3>
        </div>
        <div class="showcase-group">
            <span>Total accounts: </span>
            <h3>@Model.TotalAccountsAmount</h3>
        </div>
        <div class="showcase-group">
            <span>Total balance: </span>
            <h3>@Model.TotalBalanceAmount.ToString("C2")</h3>
        </div>
    </div>
</section>

<section id="boxes">
    <div class="container">
        <div class="box">
            <img src="~/img/cogs.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
        <div class="box">
            <img src="~/img/users.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
        <div class="box">
            <img src="~/img/rocket.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
    </div>
</section>