@model BankStatisticsViewModel

@{
    ViewData["Title"] = "Bank - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="index">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Customers</h5>
            <p>@Model.TotalCustomers</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Accounts</h5>
            <p>@Model.TotalAccounts</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Balance</h5>
            <p>@Model.TotalBalance</p>
        </div>
    </div>

    <partial name="_CountryStatisticsPartial" for="@Model.CountryStatisticsViewModel" />

    <div class="card">
        <img src="~/img/cogs.svg" class="rounded mx-auto d-block fill">
        <div class="card-body">
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/users.svg" class="rounded mx-auto d-block fill">
        <div class="card-body">
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/rocket.svg" class="rounded mx-auto d-block fill">
        <div class="card-body">
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
    </div>
</div>