@model BankStatisticsViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_BankStatisticsPartial" for="@Model" />

<section id="boxes">
    <div class="container">
        <div class="box">
            <img src="~/img/cogs.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
        <div class="box">
            <img src="~/img/users.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
        <div class="box">
            <img src="~/img/rocket.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
    </div>
</section>