
@{
    ViewData["Title"] = "No search results found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="search-error">
    <div class="container">
        <h1>Sorry, we couldn't find any results...</h1>
    </div>
</div>