:root {
    --font: 'Roboto', sans-serif;
    --dark: #2a2b2b;
    --light-dark: #ccc;
    --light: #eee;
    --white: #fff;
    --blue: #0079D3;
    --hover: #070707;
    --danger: #d92550;
}

#account-details .container {
    margin-top: 3rem;
    padding-bottom: 4rem;
}

.account, .transactions {
    padding: 3rem;
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
}

.account {
    margin-bottom: 2rem;
}

.account h1, .transactions h1 {
    margin-bottom: 2rem;
}

.account-group {
    margin-bottom: 1rem;
}

.account-group:last-child {
    margin-bottom: 0rem;
}

#transactions-table {
    table-layout: fixed;
    overflow: hidden;
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;
    color: var(--dark);
    margin-bottom: 10px;
}

#transactions-table td, th {
    padding: 1rem;
    border: 1px solid #ddd;
}

#transactions-table th {
    font-weight: 600;
    text-align: left;
    background-color: var(--dark);
    color: #fff;
}