#country-customer-list .container {
    padding: 3rem 3rem 3rem 3rem;
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    margin-top: 3rem;
}

#country-customer-list .create-customer-link {
    margin-bottom: 1rem,
}

#country-customer-list .create-customer-link a {
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 17px;
    font-family: var(--font);
    background-color: var(--blue);
}

#country-customer-list h1 {
    font-size: 35px;
    margin-bottom: 2rem;
}

#country-customers-table .customer-name {
    text-decoration: none;
    color: var(--dark);
}

#country-customers-table .customer-name:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--dark);
}

#country-customers-table .customer-details {
    text-decoration: none;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

#country-customers-table {
    table-layout: fixed;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    color: var(--dark);
    margin-bottom: 10px;
}

#country-customers-table td, th {
    overflow: hidden;
    padding: 1rem;
    border: 1px solid #ddd;
}

#country-customers-table th {
    font-weight: 600;
    text-align: left;
    background-color: var(--blue);
    color: #fff;
}