:root {
    --font: 'Roboto', sans-serif;
    --dark: #2a2b2b;
    --light-dark: #ccc;
    --light: #eee;
    --white: #fff;
    --blue: #0079D3;
    --hover: #070707;
    --danger: #d92550;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#create-customer select {
    color: var(--dark);
    font-size: 17px;
    font-family: var(--font);
    border-radius: 8px;
    border: 1px solid var(--light-dark);
    padding: 10px;
    height: 45px;
    font-family: var(--font);
    width: 550px;
}

#create-customer {
    margin-top: 3rem;
    padding-bottom: 1rem;
}

#create-customer .wrapper {
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    padding: 3rem 3rem 3rem 3rem;
    width: 645px;
}

#create-customer label {
    display: block;
}

#create-customer h1 {
    font-size: 35px;
    color: var(--dark);
    margin-bottom: 1.5rem;
}

#create-customer 
input[type="email"], 
input[type="text"], 
input[type="date"] {
    width: 550px;
    padding: 10px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: var(--font);
    border-radius: 8px;
    border: 1px solid var(--light-dark);
    outline: none;
}

#create-customer .radio-group {
    margin-top: 0.7rem;
    margin-bottom: 0.8rem;
}

#create-customer .radio-group label {
    display: inline;
}

#create-customer input[type="radio"]:hover {
    cursor: pointer;
}

#create-customer input[type="submit"] {
    margin-top: 2rem;
    height: 50px;
    font-size: 16px;
    font-family: var(--font);
    border: none;
    background-color: var(--blue);
    color: #fff;
    width: 120px;
    border-radius: 8px;
    outline: none;
}

#create-customer input[type="submit"]:hover {
    cursor: pointer;
}
