:root {
    --font: 'Roboto', sans-serif;
    --dark: #2a2b2b;
    --light-dark: #ccc;
    --light: #eee;
    --white: #fff;
    --blue: #0079D3;
    --hover: #070707;
    --danger: #d92550;
}

#customer-list .container {
    padding: 3rem 3rem 3rem 3rem;
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    margin-top: 3rem;
}

#customer-list .create-customer-link {
    margin-bottom: 1rem,
}

#customer-list .create-customer-link a {
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 17px;
    font-family: var(--font);
    background-color: var(--blue);
}

#customer-list h1 {
    font-size: 35px;
    margin-bottom: 2rem;
}

.customer-search {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.customer-search input[type="text"] {
    background-image: url(../img/search.svg);
    background-size: 1.4rem;
    background-position: 10px 9px;
    background-repeat: no-repeat;
    text-indent: 35px;
    width: 30%;
    font-family: var(--font);
    font-size: 17px;
    padding: 0.8rem;
    border: 1px solid var(--light-dark);
    border-radius: 8px;
}

#customers-table .customer-name {
    text-decoration: none;
    color: var(--dark);
}

#customers-table .customer-details {
    text-decoration: none;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

#customers-table .customer-name:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--dark);
}

#customers-table {
    table-layout: fixed;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    color: var(--dark);
    margin-bottom: 10px;
}

#customers-table td, th {
    padding: 1rem;
    border: 1px solid #ddd;
}

#customers-table th {
    font-weight: 600;
    text-align: left;
    background-color: var(--dark);
    color: #fff;
}

#customer-search-error {
    margin-top: 1.5rem;
    font-size: 28px;
    color: var(--dark);
}
