:root {
    --font: 'Roboto', sans-serif;
    --dark: #2a2b2b;
    --light-dark: #ccc;
    --light: #eee;
    --white: #fff;
    --blue: #0079D3;
    --hover: #070707;
    --danger: #d92550;
}

#showcase {
    color: var(--dark);
}

#showcase .wrapper {
    padding: 3rem 3rem 3rem 3rem;
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    margin-top: 3rem;
}

#showcase .showcase-header h1 {
    font-size: 35px;
    margin-bottom: 2rem;
}

#showcase .showcase-group {
    padding: 1rem;
    border: 1px solid var(--light);
    border-radius: 8px;
    margin-bottom: 1rem;
}

#showcase .showcase-group:last-child{
    margin-bottom: 0rem;
}

#showcase .showcase-group h3 {
    font-size: 26px;
    float: right;
    display: inline;
}

#boxes {
    margin-top: 4rem;
    padding-bottom: 1rem;
}

#boxes .container {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 3rem;
    justify-items: center;
}

#boxes .box {
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    padding: 2rem;
}

#boxes .box img {
    color: var(--dark);
    width: 90px;
    height: 120px;
    padding-bottom: 10px;
}

.fill {
    filter: invert(12%) sepia(17%) saturate(732%) hue-rotate(150deg) brightness(93%) contrast(93%);
}