:root {
    --font: 'Roboto', sans-serif;
    --dark: #2a2b2b;
    --light-dark: #ccc;
    --light: #eee;
    --white: #fff;
    --blue: #0079D3;
    --hover: #070707;
    --danger: #d92550;
}

#statistics {
    color: var(--dark);
}

#statistics .container {
    padding: 3rem 3rem 3rem 3rem;
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    margin-top: 3rem;
}

#statistics .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-items: left;
}

#statistics .statistics-header h1 {
    font-size: 35px;
    margin-bottom: 2rem;
}

#statistics .statistics-group {
    width: 100%;
    padding: 2rem;
    border: 1px solid var(--light);
    border-radius: 8px;
}

#statistics .statistics-group h3 {
    margin-bottom: 1rem;
}

#statistics .statistics-group h3 a {
    text-decoration: none;
    color: var(--blue);
    font-size: 24px;
}

#statistics .statistics-group h3 a:hover {
    border-bottom: 2px solid var(--blue);
    cursor: pointer;
}

#boxes {
    margin-top: 4rem;
    padding-bottom: 1rem;
}

#boxes .container {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 3rem;
    justify-items: center;
}

#boxes .box {
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    padding: 2rem;
}

#boxes .box img {
    color: var(--dark);
    width: 90px;
    height: 120px;
    padding-bottom: 10px;
}

.fill {
    filter: invert(12%) sepia(17%) saturate(732%) hue-rotate(150deg) brightness(93%) contrast(93%);
}

#country-statistics {
    color: var(--dark);
}

#country-statistics .container {
    padding: 3rem 3rem 3rem 3rem;
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    margin-top: 3rem;
}

#country-statistics .statistics-header h1 {
    font-size: 35px;
    margin-bottom: 2rem;
}

#country-statistics-table {
    table-layout: fixed;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    color: var(--dark);
    margin-bottom: 10px;
}

#country-statistics-table td, th {
    overflow: hidden;
    padding: 1rem;
    border: 1px solid #ddd;
}

#country-statistics-table th {
    font-weight: 600;
    text-align: left;
    background-color: var(--dark);
    color: #fff;
}

#country-statistics-table .customer-name {
    text-decoration: none;
    color: var(--dark);
}

#country-statistics-table .customer-name:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--dark);
}