:root {
    --font: 'Roboto', sans-serif;
    --dark: #2a2b2b;
    --light-dark: #ccc;
    --light: #eee;
    --white: #fff;
    --blue: #0079D3;
    --hover: #070707;
    --danger: #d92550;
}

#pagination {
    margin-top: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
}

#pagination a {
    color: var(--dark);
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin-right: 0.5rem;
}

#pagination a:hover {
    cursor: pointer;
    background-color: var(--light);
}

#pagination .disabled {
    pointer-events: none;
    background-color: var(--light);
    opacity: .5;
}
