:root {
    --font: 'Roboto', sans-serif;
    --dark: #2a2b2b;
    --light-dark: #ccc;
    --light: #eee;
    --white: #fff;
    --blue: #0079D3;
    --hover: #070707;
    --danger: #d92550;
}

#transaction {
    margin-top: 3rem;
    padding-bottom: 1rem;
}

#transaction .wrapper {
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    padding: 3rem 3rem 3rem 3rem;
    width: 465px;
}

#transaction label {
    display: block;
}

#transaction h1 {
    font-size: 35px;
    color: var(--dark);
    margin-bottom: 1.5rem;
}

#transaction input[type="text"] {
    width: 365px;
    padding: 10px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: var(--font);
    border-radius: 8px;
    border: 1px solid var(--light-dark);
    outline: none;
}

#transaction .account-number:read-only {
    background-color: var(--light);
}

#transaction .account-number:hover {
    cursor: not-allowed;
}

#transaction input[type="submit"] {
    margin-top: 5px;
    height: 50px;
    font-size: 16px;
    font-family: var(--font);
    border: none;
    background-color: var(--blue);
    color: #fff;
    width: 120px;
    border-radius: 8px;
    outline: none;
}

#transaction input[type="submit"]:hover {
    cursor: pointer;
}