:root {
    --font: 'Roboto', sans-serif;
    --dark: #2a2b2b;
    --light-dark: #ccc;
    --light: #eee;
    --white: #fff;
    --blue: #0079D3;
    --hover: #070707;
    --danger: #d92550;
}

#login {
    margin-top: 3rem;
    padding-bottom: 1rem;
}

#login .wrapper {
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    padding: 3rem 3rem 3rem 3rem;
    width: 465px;
}

#login label {
    display: block;
}

#login h1 {
    font-size: 35px;
    color: var(--dark);
    margin-bottom: 1.5rem;
}

#login .login-input {
    width: 365px;
    padding: 10px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: var(--font);
    border-radius: 8px;
    border: 1px solid var(--light-dark);
    outline: none;
}

#login input[type="submit"] {
    margin-top: 5px;
    height: 50px;
    font-size: 16px;
    font-family: var(--font);
    border: none;
    background-color: var(--blue);
    color: #fff;
    width: 120px;
    border-radius: 8px;
    outline: none;
}

#login input[type="submit"]:hover {
    cursor: pointer;
}


#user-list .container {
    padding: 3rem 3rem 3rem 3rem;
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    margin-top: 3rem;
}

#user-list .back-user-link {
    margin-top: 2rem;
}

#user-list .back-user-link a {
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 17px;
    font-family: var(--font);
    background-color: var(--blue);
}

#user-list .create-user-link a {
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 17px;
    font-family: var(--font);
    background-color: var(--blue);
}

#user-list h1 {
    font-size: 35px;
    margin-bottom: 2rem;
}

#user-table .user-details {
    text-decoration: none;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

#user-table {
    margin-top: 2rem;
    table-layout: fixed;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    color: var(--dark);
    margin-bottom: 10px;
}

#user-table td, th {
    overflow: hidden;
    padding: 1rem;
    border: 1px solid #ddd;
}

#user-table th {
    font-weight: 600;
    text-align: left;
    background-color: var(--blue);
    color: #fff;
}

#user-profile .wrapper {
    margin-top: 3rem;
    padding: 3rem;
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    width: 50%;
}

#user-profile h1 {
    margin-bottom: 2rem;
}

#user-profile .option-group a {
    border-radius: 5px;
    text-decoration: none;
    color: var(--white);
    padding: 0.8rem 1.5rem;
    background-color: var(--blue);
}

.profile-group {
    margin-bottom: 1rem;
}

.profile .profile-group:last-child {
    margin-bottom: 0rem;
}

.options {
    margin-top: 2rem;
}

.option-group {
    display: inline;
    margin-right: 1rem;
}

.option-group:last-child {
    margin-right: 0rem;
}

#create-user select {
    color: var(--dark);
    font-size: 17px;
    font-family: var(--font);
    border-radius: 8px;
    border: 1px solid var(--light-dark);
    padding: 10px;
    height: 45px;
    font-family: var(--font);
    width: 550px;
    outline: none;
}

#create-user {
    margin-top: 3rem;
    padding-bottom: 1rem;
}

#create-user .wrapper {
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    padding: 3rem 3rem 3rem 3rem;
    width: 645px;
}

#create-user label {
    display: block;
}

#create-user h1 {
    font-size: 35px;
    color: var(--dark);
    margin-bottom: 1.5rem;
}

#create-user .create-user-input {
    width: 550px;
    padding: 10px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: var(--font);
    border-radius: 8px;
    border: 1px solid var(--light-dark);
    outline: none;
}

#create-user input[type="submit"] {
    margin-top: 2rem;
    height: 50px;
    font-size: 16px;
    font-family: var(--font);
    border: none;
    background-color: var(--blue);
    color: #fff;
    width: 120px;
    border-radius: 8px;
    outline: none;
}

#create-user input[type="submit"]:hover {
    cursor: pointer;
}

#edit-user select {
    color: var(--dark);
    font-size: 17px;
    font-family: var(--font);
    border-radius: 8px;
    border: 1px solid var(--light-dark);
    padding: 10px;
    height: 45px;
    font-family: var(--font);
    width: 550px;
    outline: none;
}

#edit-user {
    margin-top: 3rem;
    padding-bottom: 1rem;
}

#edit-user .wrapper {
    background-color: var(--white);
    border: 1px solid var(--light);
    border-radius: 8px;
    padding: 3rem 3rem 3rem 3rem;
    width: 645px;
}

#edit-user label {
    display: block;
}

#edit-user h1 {
    font-size: 35px;
    color: var(--dark);
    margin-bottom: 1.5rem;
}

#edit-user .edit-user-input {
    width: 550px;
    padding: 10px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: var(--font);
    border-radius: 8px;
    border: 1px solid var(--light-dark);
    outline: none;
}

#edit-user input[type="submit"] {
    margin-top: 1rem;
    height: 50px;
    font-size: 16px;
    font-family: var(--font);
    border: none;
    background-color: var(--blue);
    color: #fff;
    width: 120px;
    border-radius: 8px;
    outline: none;
}

#edit-user input[type="submit"]:hover {
    cursor: pointer;
}

#edit-user .user-current-role:read-only {
    background-color: var(--light);
}

#edit-user .user-current-role:hover {
    cursor: not-allowed;
}

    @media (max-width: 1280px) {
        #user-profile .wrapper {
        margin-top: 3rem;
        padding: 3rem;
        background-color: var(--white);
        border: 1px solid var(--light);
        border-radius: 8px;
        width: 60%;
    }
}

