:root {
    --font: 'Roboto', sans-serif;
    --dark: #2a2b2b;
    --light-dark: #ccc;
    --light: #eee;
    --white: #fff;
    --blue: #0079D3;
    --hover: #070707;
    --danger: #d92550;
}

.validation-summary-errors {
    padding: 1rem;
    background-color: var(--danger);
    border-radius: 8px;
    color: var(--white);
    font-family: var(--font);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.validation-summary-errors ul {
    list-style: none;
}