@model UserListViewModel

@{
    ViewData["Title"] = "Bank - Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="user-list">
    <div class="container">
        <h1>Users</h1>
        <div class="create-user-link">
            <a asp-controller="Users" asp-action="CreateUser">New</a>
        </div>
        <table id="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.Email</td>
                        <td>
                            <a asp-controller="Users"
                               asp-action="UserProfile"
                               asp-route-id="@user.UserId"
                               class="user-details">Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="back-user-link">
            <a asp-controller="Home" asp-action="Index">Back</a>
        </div>
    </div>
</div>

