@model UserListViewModel

@{
    ViewData["Title"] = "Bank - Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="users">
    <h4>Users</h4>
    <a asp-controller="Users" asp-action="CreateUser" class="btn btn-primary mb-3">New</a>
    <table class="table table-bordered table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        @foreach (var user in Model.Users)
        {
            <tbody>
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>
                        <a asp-controller="Users"
                           asp-action="UserProfile"
                           asp-route-id="@user.UserId">Details</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>

